$header-bg: #3b3a62;

.App {
  text-align: center;
}


.paddedBox{
  padding: 10px;
}

.clickableBox:hover{
  cursor: pointer;
}

.noMargin{
  margin:0;
  padding:0;
}
.headerBg{
  background-color: $header-bg; 
}

.circle {
  background: #bdbdbd;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  color: white;
}

.clickableIcon{
  pointer-events: initial;
}
.navbar-item {
  display: flex;
}

.navbar,
.navbar-menu,
.navbar-start,
.navbar-end {
  align-items: stretch;
  display: flex;
  padding: 0;
}

.navbar-menu{
  flex-grow: 1;
  flex-shrink: 0;
}
.navbar-start{
  justify-content: flex-start;
  margin-right: auto;
}
.navbar-end{
  justify-content: flex-end;
  margin-left: auto;
}